rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null && request.auth.token.admin == true;
    }

    // Imágenes de productos
    match /products/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // OG images del sitio
    match /og/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
